.header h1 {
  color: black;
  text-align: left;
  font-size: 46px;
  font-weight: bold;
  overflow: hidden;
  align-content: inherit;
}

.header1 {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial", "sans-serif";
  border: 2px solid black;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #778899 25%,
    #8db0cd 50%,
    #778899 75%
  );
  background-size: 58.57px 58.57px;
}

.header1 img {
  display: flex;
  position: relative;
  text-align: left;
}
.header1 h1 {
  font-size: 35px;
  font-weight: bolder;
  color: blue;
  text-align: right;
  width: 100%;
}

.mainwrapper {
  background-color: lightgray;
}

.firstcontainer {
  width: 100%;
  height: 100%;
}

.aboutme {
  display: flex;
  justify-content: space-between;
}

.aboutme h1 {
  font-size: 60px;
}
.aboutme .vl1 {
  display: flex;
  border-left: 6px solid green;
  height: 320px;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  top: 06px;
}
#firstcontent {
  padding: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial", "sans-serif";
  color: black;
  font-size: 20px;
}
.secondcontainer {
  display: block;
  background-color: rgb(129, 165, 206);
  margin-block: 10px;
  margin-left: 3px;
  margin-right: 3px;
  position: absolute;
  flex-direction: row-reverse;
  padding: 7.25rem 0 6.25rem 4.5rem;
  width: 100%;
  height: 100%;
}

.work h1 {
  text-align: left;
  font-size: 60px;
}
.work .vl2 {
  display: flex;
  border-left: 6px solid green;
  height: 320px;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  top: 10px;
}
#secondcontent {
  display: block;
  margin-left: 0px;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial", "sans-serif";
  background-color: rgba(233, 239, 241, 0.74);
  color: black;
  font-size: 20px;
  text-align: top;
  position: absolute;
  top: 25px;
  left: 380px;
  width: 1400px;
  height: 280px;
}

.header-container {
  min-width: 150px;
  margin: 20px;
  text-align: end;
  border-right: 5px solid black;
}

.header-text {
  font-size: 36px;
  padding-right: 20px;
}

.work-content {
  width: 100%;
  height: 100%;
}

.work-content > * {
  margin-bottom: 20px;
  width: 100%;
}

.big-box {
  min-height: 400px;
  background-image: url("jonas-elia-pv-U1L8-hHY-unsplash.jpg");
}

.small-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-box {
  display: flex;
  height: 150px;
  background-image: url("ledImage.jpg");
}

.inner-box {
  position: absolute;
  background-color: lightblue;
  padding: 15px;
  align-items: left;
  width: 30%;
  flex-direction: row;
  flex-grow: 4;
}

.blue-boder {
  border: 5px solid lightblue;
}

.main-inner-box {
  width: 50%;
  position: absolute;
  top: 1000px;
  background-color: lightblue;
  padding: 15px;
}
.work-content .img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: bottom;
  display: flexbox;
  position: relative;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.small-box-container .img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: bottom;
  display: flexbox;
  position: relative;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.contact-container {
  display: flex;
  text-align: right;
  padding: 25px;
  text-decoration: initial;
  font-size: 35px;
  text-decoration: underline;
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
}

/*
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*/
